<h1>Topics</h1>

<% if @topics.empty? %>
  <p>
    No topics!
  </p>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Number of Steps</th>
            </tr>
        </thead>
        <tbody>
            <% @topics.each do |topic| %>
              <tr>
                <td><%= topic.desc %></td>
                <td><%= topic.steps.size %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
