<% if @topics.empty? %>
  <p>
    No topics available!
  </p>
<% else %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Number of Steps</th>
            </tr>
        </thead>
        <tbody>
            <% @topics.each do |topic| %>
              <tr>
                <th><%= topic.desc %></th>
                <td><%= topic.steps.size %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
