<div style="float:right; font-size: 80%;">
  <% if current_user %>
    Logged in as <%= current_user.email %>
  <% else %>
    <a href="<%= new_user_session_path() %>">log in</a><br/>
    <a href="<%= new_user_registration_path() %>">sign up</a>
  <% end %>
</div>
