<div class="login-info">
  <% if current_user %>
    Logged in as <%= current_user.email %> [<%= link_to("log_out", destroy_user_session_path, method: :delete) %>]
  <% else %>
    <%= link_to("log in", new_user_session_path) %> &nbsp;&nbsp;
    <%= link_to("sign up", new_user_registration_path) %>
  <% end %>
</div>
