<div class="container">
  <div class="steps-title-row">

    <h1>About RubyMadScience</h1>

    <p></p>

    <p>RubyMadScience is simple courseware designed by Noah Gibbs. Noah was frustrated by the normal "sign up for my mailing list, get emailed articles after a set number of days" interface as a teaching method, and put together a simple online site with links, videos, completion tracking and better email reminders.</p>

    <p>You can find Noah <a href="https://twitter.com/codefolio">on Twitter</a> and/or <a href="https://codefol.io">at his blog</a>.</p>

    <p>That email list isn't the best way to teach a technical class, but it's still a fine choice for keeping up with Noah's latest work. <a href="https://codefol.io/#bottom-newsletter-box">Care to join?</a></p>
  </div>
</div>
