<div class="container">
  <div class="steps-title-row">

    <h1>Feedback</h1>

    <p></p>

    <p>Do you have feedback about RubyMadScience or any of the topics here? You can find the author <a href="https://twitter.com/codefolio">on Twitter</a> pretty easily.</p>

    <p>Curious about that author? Noah Gibbs <a href="https://codefol.io">writes a fair bit at Codefol.io</a> as well.</p>

    <p>I thought about having one of those feedback forms here that emails me. But does anybody use that?</p>

  </div>
</div>