// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.topic-row {
    margin-bottom: 2em;
}

.topic-thumbnail {
    float:left;
    margin: 5px;
    margin-right: 25px;
}

.topic-mini-thumbnail {
    border: 2px solid #808080;
    margin-right: 15px;
}

.topic-thumbnail-header {
    float:right;
    margin: 5px;
}

.topic-thumbnail img {
    border: 2px solid #808080;
}

.topic-thumbnail-header img {
    border: 2px solid #808080;
}

.topic-index-text {
    margin-left: 260px;
}

.topic-index-metadata {
    float:right;
}

.steps-title-row {
    border: 1px solid #FFFFFF;
}

.steps-title-row img {
    margin: 10px;
}

.step-row,.topic-recommendations-row,.steps-title-row,.topic-email-reminder-box,.profile-topic-row {
    padding: 1em;
    max-width: 800px;
    border-radius: 10px;
}

.topic-recommendations-row {
    border: 1px solid #E8E8E8;
}

.step-row {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #A0A0A0;
}

// For steps marked 'Not Done'
.step-row[data-server-value="0"] {
    background: #F5FBFF;
}

// For steps marked 'Skip'
.step-row[data-server-value="1"] {
    background: #F5FFFB;
}

// For steps marked 'Done'
.step-row[data-server-value="2"] {
    background: #E0E0E0;
    color: #505050;
}

// For steps that got a server error
.step-row[data-server-value="error"] {
    background: #FFFBF8;
}

.select-error-box {
    color: #f00;
}

.done-button-group {
    margin-top: 20px;
    text-align: center;
}

.done-button-group button {
    display: inline-block;
}

.step-video {
    text-align: center;
}

.step-video youtube-embed {
    display: inline-block;
}

.external-link-block {
    text-align: center;
}

.external-link-block a {
    display: inline-block;
}

.topic-email-reminder-box {
    font-size: 125%;
    border-radius: 10px;
    background: #F5F8FF;
    border: 1px solid #A0A0A0;
}

.topic-email-reminder-box .btn-group {
    margin-left: 20px;
}

.profile-topic-row {
    background: #F5FBFF;
    border: 1px solid #A0A0A0;
    margin-top: 30px;
}

.profile-reminder-disclaimers {
    font-size: 60%;
}

h2.profile-email-reminders {
    margin-top: 20px;
    margin-bottom: 20px;
}
